@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box; /*para que al agregar padding la caja no aumente de tamaño, sino que se mantenga y adecúe*/
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* rest of app styles */
:root {
  --verde: #335c67;
  --amarillo: #fff3b0;
  --amarillo-oscuro: #e09f3e;
  --rojo: #9e2a2b;
  --rojo-oscuro: #540b0e;

  --title-fz: 20px;
  --subtitle-fz: 16px;
  --parrafo-fz: 13px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/bg.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
